<!DOCTYPE html>
<html>
<head>
    <title>Buscar camelladores</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Buscar Trabajadores</h1>
        <form method="GET" action="{% url 'search_results' %}">
            <div class="form-group">
                <input type="text" class="form-control" name="salario" placeholder="Salario">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Buscar</button>
        </form>
        <hr>
        <h2>Resultados:</h2>
        {% for worker in workers %}
        <div class="card mt-3">
            <div class="card-body">
                <h3 class="card-title">{{ worker.nombre }} {{ worker.apellido }}</h3>
                <p class="card-text">Edad: {{ worker.edad }}</p>
                <p class="card-text">Cargo: {{ worker.cargo }}</p>
                <p class="card-text">Salario: {{ worker.salario }}</p>
                <p class="card-text">Activo: {{ worker.activo }}</p>
            </div>
        </div>
        {% empty %}
        <p>No se encontraron resultados</p>
        {% endfor %}
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>